extends layout  
block content
  div(class="container text-center" style="margin-bottom:40px;")
    h2 #{title}
    input(id="hdnSelectedCategory" type="hidden")
    input(id="hdnSelectedCategoryList" type="hidden")
    nav(class="navbar" style="width:300px; border: solid 0px red;")
      div(class="container")     
        ul(class="nav navbar-nav")          
          li(class="list-menu-li" style="float:left;")
            a(id="aCatHome" href="/" class="list-menu-li" title="Home" )
              span(class="glyphicon glyphicon-home list-menu-span")
          li(class="list-menu-li" style="float:left;")
            a(id="aCatList" href="/lists" class="list-menu-li" title="lists" )
              span(class="glyphicon glyphicon-th-list list-menu-span")
    
    
    each item in items
      div(class="row")  
        div(class="col-md-2")
          label(for="txtName" class="label-left") Name  
          input(id="txtName" class="form-control" type="text" placeholder="Name" value="#{item.name}")
        div(class="col-md-1")
          label(for="txtCount" class="label-left") Count  
          input(id="txtCount" class="form-control" type="text" placeholder="Count" value="#{item.count}")
        div(class="col-md-1")
          label(for="txtMeasures" class="label-left") Measures  
          input(id="txtMeasures" class="form-control" type="text" placeholder="Measures" value="#{item.measures}")
        div(class="col-md-2")
          label(for="ddlLists" class="label-left") Lists
          div(id="ddlLists" class="dropdown" style="margin-bottom:10px;")
            button(class="btn btn-default dropdown-toggle form-control" type="button" data-toggle="dropdown" style="")
              span(id="spanDdlSelectedLabel_#{item.id}" style="margin-right:20px;")
              span(class="caret")
            ul(class="dropdown-menu" style="overflow-y: auto;")
              each list in lists      
                li(id="liList_#{list.id}_#{item.id}" itemID="#{item.id}")             
                  a(id="aList_#{list.id}_#{item.id}" href="#") #{list.name}
        div(class="col-md-4" style="padding-top: 30px;text-align: left")            
          a(id="aUpdateItem_#{item.id}" href="" class="a-link-general" itemID="" style="margin-right:15px;")
            span(class="glyphicon glyphicon-save" style="margin-right:5px;")
            span Update item
          a(id="aDeleteItem_#{item.id}" href="" class="a-link-general" style="")
            span(class="glyphicon glyphicon-remove" style="margin-right:5px;")
            span Delete item
          
                